*{
    padding: 0;
    margin: 0;
}
.calculator{
    width: 15pc;
    height:50vh;
    background-color: grey;
    margin: 80px auto;
    padding: 20px;
    border-radius: 40px;
}
#input-text{
    width: 15pc;
    height: 6pc;
    background-color: darkgrey;
    border-radius: 20px;
    margin: auto;
    border: none;
    justify-items: end;
    font-weight: bold;
    font-size: 100px;
}
.calculator-content{
    width: 15pc;
    height: 34vh;
    margin: auto;
    margin-top: 3px;   
}
.button{
    width: 45px;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin-right: 10px;
    margin-bottom: 4px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}
.specialButton{
    background-color: orange;
}
.calcButton{
    background-color: turquoise;
    
}

